<div class="sideNav bg-light d-flex flex-column justify-content-between col-3">
    <div>
        <img src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/053bcf3afe88348b79971d2ea8de28f179cba5c5/week5/logo-ANSWER.svg"
            alt="answer">
        <ul class="fs-6 fw-bold">
            <li class="d-flex">
                <span class="material-symbols-outlined me-3">insert_chart</span>
                <p>Dashboard</p>
            </li>
            <li class="d-flex">
                <span class="material-symbols-outlined me-3">forum</span>
                <p>Question</p>
            </li>
            <li class="d-flex text-success border-start border-4 border-success">
                <span class="material-symbols-outlined me-3">assignment</span>
                <p>Assignment</p>
            </li>
            <li class="d-flex">
                <span class="material-symbols-outlined me-3">video_library</span>
                <p>Course</p>
            </li>
            <li class="d-flex">
                <span class="material-symbols-outlined me-3">group</span>
                <p>Admin</p>
            </li>
            <li class="d-flex">
                <span class="material-symbols-outlined me-3">settings</span>
                <p>Settings</p>
            </li>
        </ul>
    </div>
    <div class="user d-flex align-items-center">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true"
            alt="andychen" class="rounded-circle me-3">
        <div class="userInfo">
            <h1 class="fs-6 mb-1 fw-bold">Andy Chen</h1>
            <p class="text-secondary mb-0">andy0401@mail.com</p>
        </div>
    </div>
</div>