.sideNav {
  img:nth-child(1) {
    margin: 32px;
  }

  ul {
    padding: 0;

    li {
      padding-left: 32px;
      margin-bottom: 26px;

      p {
        margin-bottom: 0;
      }
    }
  }
}

.user {
  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
}